/* 样式重置 */
body,p,h1,h2,h3{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	vertical-align: middle;
}
button{
	border: none;
	background: none;
	padding: 0;
	outline: none;
	cursor: pointer;
}

/* top */
#top{
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #f5f5f5;
}
#top .container{
	width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;	/* 两端对齐 */

}
#top .left{
	position: relative;
}
#top .logo{
	margin-right: 20px;
	position: relative;
	z-index: 11;
}
#top .left span a{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;

	display: none;
}
#top .left span:hover a{
	display: block;
}
#top .right{
	display: flex;
	position: relative;
}
#top .right h3{
	color: #464646;
	font-size: 14px;
	line-height: 40px;
	font-weight: normal;
	position: relative;	/* 放小图标 */
}
#top .right h3 a{
	color: #464646;
}
#top .right h3 a:hover{
	color: #ff4e00;
}
#top .right .text1{
	margin-right: 20px;
	padding-left: 30px;	/* 把小图标的位置空出来 */
}
#top .right .text1::before{
	content: '';
	width: 30px;
	height: 30px;
	background: url(../images/ico_01.png) -30px 0;

	position: absolute;
	left: 0;
	top: 5px;
}
#top .right .text2{
	padding-right: 25px;	/* 把小图标的位置空出来 */
	cursor: pointer;
}
#top .right .text2::before{
	content: '';
	width: 30px;
	height: 30px;
	background: url(../images/ico_01.png);

	position: absolute;
	right: 3px;
	top: 5px;
	transform: rotate(90deg);
	opacity: .1;
}
#top .right iframe{
	/* display: none; */
	width: 708px;
	height: 582px;
	position: absolute;
	top: 40px;
	right: 20px;
	z-index: 11;

	display: none;
}
#top .right .text2:hover iframe{
	display: block;
}

#nav{
	height: 131px;
	background: url(../images/nav_bg.png) center no-repeat;

	position: relative;
	z-index: 9;
}
#nav .container{
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#nav .title{
	display: flex;
}
#nav .title a{
	margin: 4px 20px 0 0;
}
#nav .title h1{
	font-size: 24px;
	color: #ffb400;
	margin-top: 24px;
}
#nav .title h1 span{
	display: block;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
}
#nav ul{
	display: flex;
}
#nav ul a{
	display: block;
	width: 120px;
	height: 100px;
	line-height: 100px;
	font-size: 16px;
	color: #fff;
	text-align: center;
}
#nav ul a:hover{
	color: #ffb400;
	background: url(../images/navHover_bg.png) 0 -48px;
}

/* section1 */
#section1{
	height: 920px;
	margin-top: -30px;
	background: url(../images/section1_bg2.jpg) no-repeat center bottom;

	position: relative;
	z-index: 8;
}
#section1 .container{
	height: 890px;
	background: url(../images/section1_bg1.jpg) center top no-repeat;

	position: relative;
}
#section1 .btn{
	width: 232px;
	height: 78px;
	position: absolute;
	top: 30px;
	left: 70%;
	background: url(../images/join_btn.png);

	text-indent: -9999px;
	overflow: hidden;

	/* font-size: 0; */
}
#section1 .video{
	position: relative;
	top: 654px;
	display: flex;
	justify-content: center;
}
#section1 .play{
	width: 283px;
	height: 163px;
	background: url(../images/video-bg.png);
	display: flex;
	justify-content: center;
	align-items: center;	/* 垂直方向居中 */
	position: relative;
}
#section1 .play::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 61px;
	height: 61px;
	background: url(../images/play-btn.png);
	margin: -30px 0 0 -30px;
}
#section1 .erweima{
	width: 156px;
	height: 156px;
	margin: 0 15px;
}
#section1 .down{
	width: 229px;
	height: 156px;
	display: flex;
	flex-wrap: wrap;	/* 子元素换行 */
	align-content: space-between;	/* 多行元素的对齐方式，两端对齐（一个顶天，一个顶地） */
}